@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add these styles to your Tailwind CSS file */

.slick-prev, .slick-next {
    @apply w-12 h-12 z-10;
  }
  
  .slick-prev:before, .slick-next:before {
    @apply text-4xl text-black;
  }
  
  .slick-prev:hover:before, .slick-next:hover:before {
    @apply text-gray-700;
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
     .custom-rounded-corner {
       border-top-left-radius: 0px;
       /* This removes the rounding for the top-left corner */
     }

